* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
}
body {
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.box {
  width: 80vw;
  height: 90vh;
  background-color: rgba(26, 46, 82, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(20, 20, 29, 0.5);
  display: flex;
}

.loaderbox {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(26, 46, 82, 0.9);
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  color: #ffffff;
  border: 2px solid;
  display: grid;
  box-sizing: border-box;
  animation: l1 4s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  width: 70.7%;
  aspect-ratio: 1;
  border: 2px solid;
  box-sizing: content-box;
  animation: inherit;
}
.loader::after {
  width: 50%;
  aspect-ratio: 1;
  border: 2px solid;
  animation-duration: 2s;
}
@keyframes l1 {
  100% {
    transform: rotate(1turn);
  }
}